/* Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #fff8e7; /* light beige */
  height: 100vh;
  display: flex;
}
.page-wrapper {
  display: flex;
  width: 100%;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #b3395b; /* campus pink */
  padding: 20px 0;
  min-height: 100vh;
}
.logo-container{
  width: 140px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 6px;
  display:block;
  margin: 0 auto;
   margin-top: 20px
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  margin: 20px 0;
}
.sidebar ul li a {
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  display: block;
}
.sidebar ul li.active a,
.sidebar ul li a:hover {
  background-color: #e37c74;
  border-radius: 6px;
}

/* Main Container */
.container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

/* Search Bar */
.search-wrapper {
 background-color: none;
    border: 3px solid #b2395b; /* Campus Nest border color */
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0;
    max-width: 700px;
    height: 60px;
    overflow: hidden;
}

.search-wrapper input[type="text"] {

    padding: 10px 20px;
    width:100%;
    font-size: 20px;
    border: none;
    outline: none;
    color: black;
    font-family: "Segoe UI", sans-serif;

}

.search-wrapper input::placeholder {
    font-family: "Segoe UI", sans-serif;

}
.search-wrapper button {
    background-color: transparent;
    border: none;
    font-size: 28px;
    padding: 0 20px;
    cursor: pointer;
    color: #fef7e6;
    transition: color 0.3s;
}
.search-wrapper button:hover {
    color: #e38277;
}


/* Property Card */
.property-card {
  display: flex;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  align-items: center;
  gap: 20px;
  max-width: 700px;
}
.property-card img {
  width: 140px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.property-details h3 {
  margin-bottom: 8px;
  color: #333;
}
.property-details ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #555;
}

#results {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.property-info h3 {
  margin-bottom: 8px;
  color: #333;
}

.property-info ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #555;
}

