* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 40px 0;
}


.container {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 360px;
  border: 2px solid #f9d5d3;
}


.container h2{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #c0395f;
}
.container h3{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
  
  /* Form groups */
  .form-group {
    margin-bottom: 15px;
  }
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }
input,
select,textarea {  /*Added text area to this mix*/
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: small;
}
 
button {
    width: 100%;
    padding: 10px;
    background-color: #c0395f;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
button:not(:disabled):hover {
    background-color: #e7a57b;
}
.form-group input:focus {
  border-color: #ff99aa;
  outline: none;
  background-color: #fff0f3;
}
.form-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.form-footer a {
  color:#d6336c;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}
#togglePassword{
    background-color: #c0395f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
