/* Body setup */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  font-family: "Segoe UI", sans-serif;
  background-color: floralwhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 30px;
}

/* Container */
.container {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 500px;
  min-height: 50vh;
}

/* Campus Nest heading */
h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #c0395f;
}

/*welcome message */
h2{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

/* Form groups */
.form-group {
  margin-bottom: 15px;
}

.form-footer
{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #555;

}

.form-footer a
{
    color:#d6336c;
    text-decoration: none;
}

.form-footer a:hover
{
    text-decoration: underline;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}
input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: small;
}
small {
  display: block;
  margin-top: 5px;
  color: #555;
}

/* Error message */
.error {
  color: #d00;
  font-size: 14px;
  display: none;
  margin-top: 5px;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background-color: #c0395f;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
button:not(:disabled):hover {
  background-color: #e7a57b;
}

toggle-button {
  background-color: #c0395f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
}