body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #b3395b;
    width: 250px;
    padding: 20px;
    box-sizing: border-box;
}

.room-info img {
    margin-top: 20px;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.sidebar h2 {
    color: whitesmoke;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
    flex: 1;
    background-color: whitesmoke;
    padding: 40px;
    position: relative;
}

.room-info img {
    margin-top: 20px;
    border-radius: 8px;
}

.back-button {
    position: absolute;
    top: 20px;
    right: 40px;
    text-align: center; 
}

.back-button .box{
    width: 80px;
    height: 80px;
    background-color: whitesmoke;
    border: 1px solid #b3395b;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.back-button .box img {
    width: 100px;
    height: 100px;
}

form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
}

label {
    font-weight: normal;
    text-align: left;
    color: #333;
    font-size: 16px;
}

.book-button {
    padding: 10px 20px;
    background-color: #b3395b;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s;
}

.book-form button:hover {
    background-color: #e37c74;
}
