body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #b3395b;
    width: 250px;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    color: whitesmoke;
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

.sidebar ul li a:hover {
    color: #78053f;
}

.main-content {
    flex: 1;
    background-color: whitesmoke;
    padding: 40px;
    position: relative;
}

form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
}

label {
    font-weight: normal;
    text-align: left;
    color: #333;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    border: 1px solid #b3395b;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

textarea {
    padding: 8px;
    border: 1px solid #b3395b;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    resize: none;
}

button {
     width: 100%;
    padding: 10px;
    background-color: #c0395f;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

button:hover {
    background-color: #e7a57b;
}
