 html, body {
    height: 100%;
}
body {
    font-family: "Segoe UI", sans-serif;
    background-color: floralwhite;
    display: flex;
    flex-direction: row;
    /* justify-content: center; /*...Disabled for the sidebar to be left aligned */
    align-items: flex-start;
    /* padding: 20px; /*...Disabled for the sidebar to hug the side of the page */
    gap: 30px;
}
  
  /* Left side image
  .side-image {
    flex: 0 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  } */
  
  /* Container */
  /* .container {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    min-height: 135vh;
  }
   */
  /* Campus Nest heading */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #c0395f;
}
  
  /* Form groups */
.form-group {
  margin-bottom: 15px;
}
label,a {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}
input,
select,textarea {  /*Added text area to this mix*/
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: small;
}

small {
  display: block;
  margin-top: 5px;
  color: #555;
}
  
  /* Error message */
  /* .error {
    color: #d00;
    font-size: 14px;
    display: none;
    margin-top: 5px;
  } */
  
  /* Button */
button {
  width: 100%;
  padding: 10px;
    background-color: #c0395f;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  button:not(:disabled):hover {
    background-color: #e7a57b;
  }

  /* From hear on out, the CSS differs from what is on the base file */
  /* sidebar occupy the entire height of the screen and certain width */
  html{
  /* Variables */
  --sidebar-width:250px;

  /* Disable scrolling */
  /* overflow-x:hidden; */
  }

  /* Make the sidebar be a certain width, colour and occupy full height */
  #sidebar_div{
  height:100vh;
  width:var(--sidebar-width);
  background-color: #c0395f; /* Alter the background color */
  }

  /* Alter the alignment of the buttons in the sidebar:column wise */
  sidebar{
  display:flex;
  flex-direction:column;
  }

  /* Reduce button size in the sidebar, add margin at the bottom and remove spacing at end and beginning */
  sidebar p{
  width:var(--sidebar-width);
  box-sizing:content-box;
  margin-bottom:12px;
  padding:0px;
  font-size:16px;
  }

  /* Change the position of the input for files */
  /* input[type="file"]{
  position:absolute;
  top:20vh;
  right:-25vw;
  border:none;Make the border nothing */
  /* } */

  /* input[type="file"]+small{
  position:absolute;
  top:24vh;
  right:0vw;
  font-style:italic;
  } */

  /* Change the form to start a bit lower */
  #form_div{
  margin-top:5vh;
  /* position:relative;Place the file input relative to this */
  }

  /* Alter the input of the forms to be a bit wider */
  /* #form_div input{
  width:35vw;
  } */

  /* Alter the borders of the image */
  /* #form_div img{
  border:black 1px solid;
  border-radius:6px;
  background-color:white; */
  /* Alter the position */
  /* position:fixed;
  top:5vh;
  right:10vw; */
  /* Alter the size */
  /* width:20vw;
  height:30vh;
  } */

  /* Alter the size of the text area + font type*/
  /* #form-div textarea{
  width:60vw;
  height:35vh;
  font-family:Arial, Helvetica, sans-serif;
  } */

  /*Altering anything that takes in data from the database.*/
.hse_info{
  font-weight:500;
  font-family:Arial, Helvetica, sans-serif;
  color:#c0395f;
}

#sidebar_div .hse_info, #rooms_available #rooms p{
  color:#e7a57b;
  margin-left:3vw;
  font-weight: bold;
}

#form_div .hse_info{
  margin-left: 10vw;
}

#hse_description{
  margin-left:0vw !important;  
}

#first_div_sidebar{
  position:fixed;
  top:25vh;
  width:var(--sidebar-width);
}

a{
  text-decoration: none;
}

p.hse_info{
  font-weight:bold;
}

#form_div, #rooms_available{
  background-color:bisque;
  padding:1vw;
  padding-right:3vw;
  border-radius:4px;
  margin-bottom:4vh;
  box-shadow: #c0395f 1px 1px;
}

#rooms_available #rooms{
  border-radius:inherit;
  padding:5px;
  padding-left:10px;
  box-shadow:cornsilk 2px 1px;
  margin-left:7vw;
  margin-bottom:3vh;
  background-color:#c0395f;
  display:flex;
  flex-direction:row;
  width:780px;
}

#rooms_available #rooms a{
  text-decoration:none;
}





